bin/
include/
lib/

src/awsbean/settings/local.py
src/awsbean/settings/production.py
src/awsbean/settings/base.py

*.py[cod]
*.sqlite3
pip-selfcheck.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
